/** CSS STYLE **/
* {
  margin: 0;
  padding: 0;
}

@font-face {
  font-family: Neucha, cursive;
  src: url("../fonts/Neucha/Neucha-Regular.ttf");
}

@font-face {
  font-family: "Open Sans", sans-serif;
  src: url("../fonts/Open_Sans/OpenSans-VariableFont_wdth\,wght.ttf");
}

:root {
  --black: #2a2626;
  --white: #fff;
  --translucent-light: #d7ccc0;
  --light: #f5f4f0;
  --main: #fe8a02;
  --main-dark: #42413c;
  --translucent-dark: #908d8b;
  --brown: #b09a81;
  --blue: #1085c5;
}

/* Этич классов ещё нет в HTML */
.section-basic-styles {
  max-width: 1110px;
  margin: 0 auto;
  padding: 100px 0;
}

.how-header {
  margin-top: 100px;
  margin-bottom: 20px;
}

.h1 {
  font-size: 70px;
}

.h2 {
  font-size: 62px;
}

.h3 {
  font-size: 34px;
}

.lh-12em {
  line-height: 1.2em;
}

.fs {
  font-size: 16px;
}

.lh-16em {
  line-height: 1.6em;
}

.fs-16px {
  font-size: 16px;
}

.tal {
  text-align: left;
}

.tac {
  text-align: center;
}

.psa {
  position: absolute;
}

.img {
  position: relative;
  height: 525px;
  top: 55px;
  right: -270px;
}

.mgb-30px {
  margin-bottom: 30px;
}

.mr-30px {
  margin-right: 30px;
}

.bc-brown {
  background-color: var(--brown);
}

.bc-light {
  background-color: var(--light);
}

.vam {
  vertical-align: middle;
}

.column {
  column-count: 2;
  column-gap: 30px;
}

button {
  padding: 12px 24px;
  background-color: var(--main);
  border: none;
  margin-top: 40px;
  font-weight: bold;
  margin-left: 160px;
}

.td-none {
  text-decoration: none;
}

.mgb-30px {
  margin-bottom: 30px;
}

header.container {
  background-image: url("../images/background.png");
  background-repeat: no-repeat;
  background-size: cover;
}

.video {
  filter: drop-shadow(0 16px 32px rgba(0 0 0 / 15%));
}

.h52px {
  font-size: 52px;
}

.flex-container {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
}

.card {
  display: flex;
  padding: 24px;
  flex-direction: column;
  background-color: var(--light);
  width: 300px;
  height: 326px;
  text-align: left;
}

.card-header {
  font-size: 64px;
  font-family: Neucha, cursive;
  line-height: 1em;
  margin-bottom: 40px;
}

.five-dist-h {
  font-weight: normal;
  font-family: Neucha, cursive;
}

.card-h {
  padding: 0;
  width: 380px;
  background-color: var(--translucent-dark);
}

.three-cards {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
}

.section-five-distortions {
  background-color: var(--main-dark);
}

.card-link {
  text-decoration: none;
  color: #2a2626;
}

.flex-div {
  display: flex;
  justify-content: space-between;
}
