/** CSS STYLE **/
* {
  margin: 0;
  padding: 0;
}

@font-face {
  font-family: 'Neucha';
  src: url('../fonts/Neucha/Neucha-Regular.ttf');
  font-weight: 400;
}

@font-face {
  font-family: 'Open Sans';
  src: url('../fonts/Open_Sans/static/OpenSans/OpenSans-Regular.ttf');
  font-weight: 400;
}

@font-face {
  font-family: 'Open Sans';
  src: url(../fonts/Open_Sans/static/OpenSans/OpenSans-Bold.ttf);
  font-weight: 700;
}

:root {
  --dark: #2a2626;
  --white: #fff;
  --translucent-light: #d7ccc0;
  --light: #f5f4f0;
  --primary: #fe8a02;
  --primary-dark: #42413c;
  --translucent-dark: #908d8b;
  --brown: #b09a81;
  --blue: #1085c5;
}

header:before {
  content: url(../images/background.png);
  position: absolute;
  z-index: 1;
  opacity: 10%;
  background-repeat: no-repeat;
  background-size: cover;
}

.ikea-effect::before {
  content: url(../images/background.png);
  position: absolute;
  z-index: 1;
  opacity: 10%;
  background-repeat: no-repeat;
  background-size: cover;
}

.premature-optimization::before {
  content: url(../images/background.png);
  position: absolute;
  z-index: 1;
  opacity: 10%;
  background-repeat: no-repeat;
  background-size: cover;
}

.distortion-of-novelty::before {
  content: url(../images/background.png);
  position: absolute;
  z-index: 1;
  opacity: 10%;
  background-repeat: no-repeat;
  background-size: cover;
}

.hyperbolic-depreciation::before {
  content: url(../images/background.png);
  position: absolute;
  z-index: 1;
  opacity: 10%;
  background-repeat: no-repeat;
  background-size: cover;
}

.errors-in-planning::before {
  content: url(../images/background.png);
  position: absolute;
  z-index: 1;
  opacity: 10%;
  background-repeat: no-repeat;
  background-size: cover;
}

.section-basic-styles {
  max-width: 1110px;
  margin: 0 auto;
  padding: 100px 0;
}

.how-header {
  margin-top: 100px;
  margin-bottom: 20px;
}
.ff-neucha {
  font-family: 'Neucha', cursive;
}

.ff-op-sans {
  font-family: 'Open Sans', sans-serif;
}

.fw-700 {
  font-weight: 700;
}

.fw-400 {
  font-weight: 400;
}

.h1 {
  font-size: 72px;
}

.h2 {
  font-size: 62px;
}

.h3 {
  font-size: 34px;
}

.h52px {
  font-size: 52px;
}

.fs-12px {
  font-size: 12px;
}

.fs-14px {
  font-size: 14px;
}

.fs-16px {
  font-size: 16px;
}

.fs-24px {
  font-size: 24px;
}

.fs-60px {
  font-size: 60px;
}

.lh-12em {
  line-height: 1.2em;
}

.lh-16em {
  line-height: 1.6em;
}

.t-c-white {
  color: var(--white);
}

.t-c-brwn {
  color: var(--brown);
}

.t-c-prmry {
  color: var(--primary);
}

.t-c-dark {
  color: var(--dark);
}

.t-c-trsl-drk {
  color: var(--translucent-dark)
}

.t-c-trls-lght {
  color: var(--translucent-light)
}

.tt-up {
  text-transform: uppercase;
}

.tal {
  text-align: left;
}

.tac {
  text-align: center;
}

.psa {
  position: absolute;
}

.psr {
  position: relative;
}

.z-idx-2 {
  z-index: 2;
}

.just-cont-c {
  justify-content: center;
}

.just-cont-s-e {
  justify-content: space-evenly;
}

.just-cont-s-b {
  justify-content: space-between;
}

.ai-c {
  align-items: center;
}

.img {
  position: relative;
  height: 525px;
  top: -49px;
  right: -291px;
}

.mgb-30px {
  margin-bottom: 30px;
}

.mt-16px {
  margin-top: 16px;
}

.mt-60px {
  margin-top: 60px;
}

.mr-30px {
  margin-right: 30px;
}

.bc-brown {
  background-color: var(--brown);
}

.bc-light {
  background-color: var(--light);
}

.bc-white {
  background-color: var(--white);
}

.vam {
  vertical-align: middle;
}

.ovf-h {
  overflow: hidden;
}

.column {
  column-count: 2;
  column-gap: 30px;
}

button {
  padding: 12px 24px;
  background-color: var(--primary);
  border: none;
  margin-top: 40px;
  font-weight: bold;
  margin-left: 160px;
  width: 148px;
  cursor: pointer;
}

.td-none {
  text-decoration: none;
}

.video {
  filter: drop-shadow(0 16px 32px rgba(0 0 0 / 15%));
}

.flex-container {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
}

.card {
  display: flex;
  padding: 24px;
  flex-direction: column;
  background-color: var(--light);
  width: 300px;
  height: 326px;
  text-align: left;
}

.card0 {
  padding: 0;
  width: 348px;
  background-color: var(--primary-dark)
}

.card-header {
  font-size: 64px;
  font-family: Neucha, cursive;
  line-height: 1em;
  margin-bottom: 40px;
}

.five-dist-h {
  font-weight: normal;
  font-family: Neucha, cursive;
}

.card-h {
  padding: 0;
  width: 380px;
  background-color: var(--translucent-dark);
}

.three-cards {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
}

.section-five-distortions {
  background-color: var(--primary-dark);
}

.card-link {
  text-decoration: none;
  color: var(--dark);
}

.flex-div {
  display: flex;
}

.ds-block {
  display: block;
}

iframe {
  margin-bottom: -207px;
}

.section-five-distortions {
  padding-top: 100px;
}

.black-container {
   background-color: var(--primary-dark);
   padding: 51px 55px;
 }

 input {
   height: 20px;
   padding: 15px;
   flex-grow: 2;
   border: none;
 }

 label {
   position: relative;
   bottom: 9px;
 }

 .btn-more {
   margin-left: 570px;
 }

 .btn-send {
   margin: 0;
   height: 50px;
   width: 70px;
   cursor: pointer;
 }

 .btn-send::before {
   content: url(../images/send.svg); 
 }

header .h1 {
  position: absolute;
}
header .text {
  margin-top: -63px;
}

.video-section {
  padding: 107px 0;
}